<launch>
    <rosparam command="load" file="$(find mission_commander)/config/trees.yaml" />
    <node pkg="mission_commander" type="mission_commander_trees" name="mission_commander_trees" output="screen" />
    <node pkg="mission_commander" type="image_saver_node.py" name="image_saver" output="screen" />
    <node pkg="mission_commander" type="insert_data_to_db_trees.py" name="insert_data_to_db_trees" output="screen"/>
</launch>